@using Northwind.Models
@model IEnumerable<Category>

@{
    ViewBag.Title = "Charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- DROPDOWN AND DATA -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Categories</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
        @foreach (Category c in @Model)
        {
            <option value="@c.CategoryName">@c.CategoryName</option>
        }
            </select>
        
        </div>
    </div>
    <div class="col-md-6">
        <!-- CHARTS -->
        <canvas id="myChart" height="400" width="500"></canvas>
    </div>
</div>

<div class="font-md">
    <a href="~/Home/Index"><i class="fa fa-home"></i> Home</a>
</div>