<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--<link href="Content/animate.css" rel="stylesheet" />-->
    <link href="Content/Site.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/jquery-ui.min.js"></script>
    <!--<script>
        $(function () {
            $('#birthday').datepicker();
            $('.ball').draggable();
            var randomNumber = Math.floor(Math.random() * effectArray.length);
            var effectArray = ["bounce", "flash", "pulse", "rubberBand", "shake", "swing", "tada"];
            $('h1').addClass('animated ' + effectArray[randomNumber]);

            $('.bx').each(function () {
                $(this).is(':checked') ?
                    $('#' + $(this).attr('id') + 'Img').css('visibility', 'visible') :
                    $('#' + $(this).attr('id') + 'Img').css('visibility', 'hidden');
            });

            $('.bx').change(function () {
                $('#' + $(this).attr('id') + 'Img').css('visibility', 'visible');
                $(this).is(':checked') ?
                    $('#' + $(this).attr('id') + 'Img').removeClass().addClass('animated bounceInDown') :
                    $('#' + $(this).attr('id') + 'Img').addClass('animated bounceOutUp');
            });

        });

    </script>-->
    <title></title>
</head>
<body style="padding-top: 100px;">
    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container row">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Northwind</a>
            </div>
            <div class="collapse navbar-collapse row" id="collapse-menu">
                <ul class="nav navbar-nav">
                    <li><a href="#"><b class="fas fa-home"></b></a></li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-book"></i> Products<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fas fa-binoculars"></i> Browse Categories</a></li>
                            <li><a href="#"><i class="fas fa-search"></i> Product Search</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fas fa-dollar-sign"></i> Current Discounts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-users"></i> Customers<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                            <li><a href="#"><i class="fas fa-wpforms"></i> Register</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fas fa-user-circle"></i> Your Account</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lessons<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/Lesson2">Lesson 2</a></li>
                            <li><a href="~/Home/Lesson3">Lesson 3</a></li>
                            <li><a href="~/Home/Lesson4">Lesson 4</a></li>
                            <li><a href="~/Home/Lesson5">Lesson 5</a></li>
                            <li><a href="~/Home/Birthday">Birthday</a></li>
                            <li><a href="/Foo/Bar">Foo/Bar</a></li>
                            <li><a href="/Pizza/Bake">Bake Pizza</a></li>
                            <li><a href="/Pizza/Eat/5">Eat Pizza</a></li>
                            <li><a href="/Free/Bird">Free Bird</a></li>
                            <li><a href="/Home/AddNumbers">Add Numbers</a></li>
                            <li><a href="/Home/Stuff">Stuff</a></li>
                            <li><a href="/Home/DisplayList">Display List</a></li>
                            <li><a href="/Home/PrimaryColors">Primary Colors</a></li>
                        </ul>
                    </li>
                </ul>
                <div>
                    <form class="navbar-form navbar-collapse" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search our site" name="srch-term" id="srch-term">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <!-- jumbotron -->
    <div class="container">
        <div class="jumbotron" style="box-shadow: 2px 2px 2px 2px;">
            <h1 style="text-shadow: 0 0 3px #0026ff, 0 0 5px #0026ff;">Northwind</h1>
            <p>We have the best prices and selection of high quality foods & beverages on the planet! Check out our featured discounts below!</p>
            <button class="btn btn-info">Place your order now  <b class="glyphicon glyphicon-forward"></b></button>
        </div>
        <!--<div class="container">
            <h1>Happy Birthday!</h1>
            <hr />

            <form role="form">
                <div class="row">
                    Data Entry
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" />
                        </div>
                        <div>
                            <label for="birthday">Birthday</label>
                            <input type="text" id="birthday" class="form-control" />
                        </div>
                        Balloon Choice
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Select your favorite balloons</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label><input type="checkbox" class="bx" id="rb"/>Red Balloons</label>

                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="bx" id="gb"/>Green Balloons</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="bx" id="pb"/>Purple Balloons</label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default">Submit</button>
                    </div>
                    Balloons
                    <div class="col-sm-6">
                        <img src="images/red.png" class="ball" id="rbImg" />
                        <img src="images/green.png" class="ball" id="gbImg" />
                        <img src="images/purple.png" class="ball" id="pbImg" />
                    </div>
                </div>
            </form>
        </div>-->
        <!-- Grid System-->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Tis the Seasoning</h3>
                    <p>Order today! Save 12.5% on Chef Anton's Italian Seasoning. You don't want to make Chef Anton mad, do you?</p>
                    <p><i>Discount expires: 09/31/2018</i></p>
                    <a href="#" class="discount" data-toggle="tooltip" title="81937" data-placement="right">Discount Code</a>
                </div>
                <div class="col-md-4">
                    <h3>Go Green</h3>
                    <p>Genen Shouyu goes on sale very rarely. Order now to save 10% off our already low price.</p>
                    <p><i>Discount expires: 09/31/2018</i></p>
                    <a href="#" class="discount" data-toggle="tooltip" title="21685" data-placement="right">Discount Code</a>
                </div>
                <div class="col-md-4">
                    <h3>Half Price</h3>
                    <p>Just because you can't pronounce "Schoggi Schokolade" doesn't mean you shouldn't buy it. Get it now for 50% off!</p>
                    <p><i>Discount expires: 09/31/2018</i></p>
                    <a href="#" class="discount" style="" data-toggle="tooltip" title="17265" data-placement="right">Discount Code</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text"><i>&copy; 2018 Paul Lee</i></p>
            <button type="button" class="btn btn-default navbar-btn pull-right">Sign In</button>
        </div>
    </nav>
</body>
</html>